
.skip-link {
  position: absolute;
  top: -40px;
  background: black;
  color: white;
  padding: 8px;
}

.skip-link:focus {
  top: 0;
}

/* li {
  display: inline;
  padding: 10px;
} */

nav {
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
  row-gap: 20px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
