/* ========================= */
/* SKIP LINK */
/* ========================= */

.skip-link {
  position: absolute;
  top: -40px;
  background: black;
  color: white;
  padding: 8px;
}

.skip-link:focus {
  top: 0;
}

/* ========================= */
/* NAVIGATION */
/* ========================= */

nav {
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

/* ========================= */
/* MOBILE VIEW (Default) */
/* < 772px  → 1 COLUMN */
/* ========================= */

.grid {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ========================= */
/* TABLET VIEW */
/* ≥ 772px → 2 COLUMNS */
/* ========================= */

@media screen and (min-width: 772px) {

  .grid {
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }

  .grid img {
    max-height: 30vh;
  }

}

/* ========================= */
/* LARGE SCREEN VIEW */
/* ≥ 998px → 3 COLUMNS */
/* ========================= */

@media screen and (min-width: 998px) {

  .grid {
    grid-template-columns: 30% 30% 30%;
  }

}
