.skip-link {
  position: absolute;
  top: -40px;
  background: black;
  color: white;
  padding: 8px;
}

.skip-link:focus {
  top: 0;
}

/* li {
  display: inline;
  padding: 10px;
} */

nav {
  display: inline-block;
  width: 80%;
}

nav img {
  width: 10%;
}

/* ===== MOBILE (mặc định 1 cột) ===== */
.grid {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* ===== TABLET VIEW (>=772px) ===== */
@media screen and (min-width: 772px) {

  .grid {
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }

  .grid img {
    max-height: 30vh;
  }

}

/* ===== LARGE VIEW (>=998px) ===== */
@media screen and (min-width: 998px) {

  .grid {
    grid-template-columns: 30% 30% 30%;
  }

}
